body {
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(45deg, #ff6b6b, #4ecdc4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.login{
  position: relative;
  z-index: 1;
  border: #4ecdc4 2px solid;
  background: linear-gradient(45deg, #ff6b6b, #4ecdc4);
  padding: 30px;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }
    .container::before {
        top: 100px;
        width: 90%;
        height: 380px;
        left: 10%;
        transform: translateX(-50%);
    }
    .login {
        padding: 20px;
    }
    

}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .container {
        width: 400px;
        margin: 80px auto;
    }
    .container::before {
        top: 110px;
        width: 410px;
        height: 380px;
        left: 35%;
        transform: translateX(-50%);
    }
    
}